<html>
  <head>
    <title>Retwis-node.js</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen, projection"> 
  </head>
  <body>
    <br />
    <div class="container">
      <div id="header" class="span-24">
        <div class="span-12">
          <h1>Retwis-node.js</h1>
        </div>
          <div class="span-12 last right-align">
            <% if (current_user) { %>
              <br /><br />
              <a href="/">home</a> | 
              <a href="/<%= current_user.username %>/mentions">mentions</a> | 
                <%= current_user.username %> | 
              <a href="/timeline">timeline</a> | 
              <a href="/logout">logout</a>
            <% } %>            
          </div>
        <hr />
      </div>
      <div class="span-24">

      <%- body %>

      </div>
      <div class="span-24 last">
        <hr />
        Retwis-node.js is a simple Twitter clone written in Javascript to show off 
        the <a href="http://code.google.com/p/redis/">Redis key-value database</a>.
        The code is on <a href="http://github.com/zsolt/retwis-nodejs">Github</a>.
      </div>
    </div>
  </body>
</html>
